.wrapper{
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
img {
    width: 200px;
    height: 200px;
}
.card {
    width: 300px;
    border-radius: 10px;
    border: 2px solid;
    padding: 5px;
    text-align: center;
}
.news {
    margin: 50px auto;
    text-align: center;
}
.card {
    margin: 50px auto;
    text-align: center;
}